* {
    margin: 0;
    padding: 0;
}

section {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftPanel {
    width: 30%;
    border: 2px solid green;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.row {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.component,.addimage {
    width: 50px;
    height: 50px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

canvas {
    /* width: 60%; */
    border: 2px solid red;
}
.myCanvas{
    overflow:scroll;
}
.image{
    display: none;
}

canvas.myCanvas{
    overflow: auto;
}